body {
	color: 5A5A5C; 
	font-family: Arial;
	font-size:9pt;
	line-height:150%;
	margin:0
}
h1, h2, h3, h4 {
	color:#fff;
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
}
div#header {
	text-align:center;
	color:#eee;
}
div#header a {
	color:#fff;
	font-weight:bold;
}
div#footer {
	margin-top:10px;
	text-align:center;
	color:#eee;
	font-size:8pt;
}
div#operator {
	margin:10px 0 10px 0;
}
div#operator ul, div#operator li {
	margin:0;
	padding:0;
}
div#operator li {
	display:inline;
	list-style-type:none;
	margin-right:5px;
	margin-left:5px;
	border:1px solid #000;
	padding:5px;
	color:#000;
	background-color:#eee;
	cursor:hand;
	cursor:pointer;
}
hr {
	margin:2px 0 2px 0;
}
div.wrapper {
	text-align:center;
}
div.content {
	border:1px solid #333;
	background-color:buttonface;
	color:#000;
	padding:10px;
	margin:10px 0 10px 0;
	font-size:10pt;
	line-height:150%;
	text-align:left;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	-moz-box-sizing:border-box;
}
div.content h4 {
	color:#000;
	margin-left:10px;
	text-align:left;
}