
.winSlider1    { margin:0;padding:0; height:15px; width:352px; background-color:#6699FF; border:2px ;solid #EAE6DD; }
.winBar       { margin:0;padding:0; height:15px; width:8px; border:1px outset buttonhighlight; background-color:#6699CC }
.winSlider   { margin:0;padding:0; height:15px; width:704px; background-color:#6699FF; border:2px ;solid #EAE6DD; }